# Spring 配置
spring:
  # 文件上传大小限制
  http:
    multipart:
      max-file-size: 5MB
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/travel
    username: root
    password: root
  # 模板引擎配置
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    # 非规范html
    mode: LEGACYHTML5
    encoding: utf-8
    content-type: text/html
    cache: false
  # 静态资源配置
  resources:
    chain:
      strategy:
        content:
          enabled: true
          paths: /**
  # 邮箱服务配置
  mail:
    host: smtp.163.com
    port: 25
    username: bengangxue@163.com
    password: cq2015214296
  # Redis配置
  redis:
    database: 0
    host: localhost
    port: 6379
    timeout: 30000
    pool:
      max-active: 200
      max-wait: 600
      min-idle: 10
      max-idle: 30
  # 消息队列配置
  activemq:
    broker-url: tcp://localhost:61616
    in-memory: true
    # 取消池化连接池
    pool:
      enabled: false
    user: admin
    password: admin
    packages:
      trust-all: true


# mybatis 配置
mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.wanner.primary.web.entity
