<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Waner---旅游推荐</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" th:href="@{/layuiadmin/layui/css/layui.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/layuiadmin/myfile/main.css}">
</head>
<body class="micronews">
  <div class="micronews-header-wrap">
    <div class="micronews-header w1000 layui-clear">
      <h1 class="logo">
        <a href="index.html">
          <img width="66px" height="18px" th:src="@{/layuiadmin/myfile/images/LOGO.png}" alt="logo">
          <span class="layui-hide">logo</span>
        </a>
      </h1>
      <p class="nav">
        <a href="#" class="active">推荐</a>
        <a href="list.html">游记</a>
        <a href="list.html">问答</a>
      </p>
      <div class="search-bar">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="title" placeholder="搜索你要的内容" autocomplete="off" class="layui-input">
              <button class="layui-btn search-btn"  formnovalidate><i class="layui-icon layui-icon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="login">
         <a href="/front/page/login">
          登录
        </a>
        <!--<a href="login.html"> -->
         <!--<img src="../res/static/images/header.png" style="width: 36px; height: 36px;"> -->
        <!--</a> -->
      </div>
      <div class="menu-icon">
        <i class="layui-icon layui-icon-more-vertical"></i>
      </div>
      <div class="mobile-nav">
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item layui-this"><a href="index.html">最新</a></li>
          <li class="layui-nav-item"><a href="list.html">娱乐</a></li>
          <li class="layui-nav-item"><a href="list.html">生活</a></li>
          <li class="layui-nav-item"><a href="list.html">财经</a></li>
          <li class="layui-nav-item"><a href="list.html">科技</a></li>
          <li class="layui-nav-item"><a href="list.html">军事</a></li>
        </ul>
      </div>  
    </div>
  </div>


  <div class="layui-fulid micronews-banner w1000">
    <div class="layui-carousel imgbox" id="micronews-carouse">
      <div carousel-item>
        <div>
          <p class="title">去南非旅行需要做什么准备</p>
          <a href="list.html"><img th:src="@{/layuiadmin/myfile/images/news_img1.jpg}"></a>
        </div>
        <div>
          <p class="title">去南非旅行需要做什么准备</p>
          <a href="list.html"><img th:src="@{/layuiadmin/myfile/images/news_img1.jpg}"></a>
        </div>
      </div>
    </div>
  </div>


  <div class="micronews-container w1000">
    <div class="layui-fluid">
      <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md8">
          <div class="main">
            <div class="list-item" id="LAY_demo2">
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img11.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">北京的卫生部门调查五星级酒店清洁 “丑闻” 已现场取样，还消费者真相</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img12.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">渝广快速一车上万件快递全被烧光，双11战果泡汤</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <div class="item-info">
                  <h4><a href="details.html">渝广快速一车上万件快递全被烧光，双11战果泡汤</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img13.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">教育部发布教师职业行为十项准则</a></h4>
                  <div class="b-txt">
                    <span class="label">财经</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img14.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">赵丽颖婚后首部电视剧开播！刚开场剧情相当惊险谍战大片的感觉！</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <div class="item-info">
                  <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img7.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">独居女孩防身用利器！</a></h4>
                  <div class="b-txt">
                    <span class="label">生活</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img8.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">女司机刚拿车”！女司机刚拿驾照就撞车，老公“敢怒不敢言”贴8张纸提醒</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img9.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">教育部发布教师职业行为十项准则</a></h4>
                  <div class="b-txt">
                    <span class="label">生活</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img3.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">赵丽颖婚后首部电视剧开播！刚开场剧情相当惊险谍战大片的感觉！</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img11.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                  <div class="b-txt">
                    <span class="label">娱乐</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">   
                <a href="details.html">
                <img th:src="@{/layuiadmin/myfile/images/news_img10.jpg}">
                </a>
                <div class="item-info">
                  <h4><a href="details.html">牛油果吃的对身体的好处</a></h4>
                  <div class="b-txt">
                    <span class="label">生活</span>
                    <span class="icon message">
                      <i class="layui-icon layui-icon-dialogue"></i>
                      500条
                    </span>
                    <span class="icon time">
                      <i class="layui-icon layui-icon-log"></i>
                      10分钟前
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
          <div class="popular-info">
            <div class="layui-card">
              <div class="layui-card-header">
                <h3>热门资讯</h3>
              </div>
              <div class="layui-card-body">
                <ul class="list-box">
                  <li class="list">
                    
                     <a href="list.html">你和我的倾城时光</a><i class="heat-icon"></i>
   
                  </li>
                  <li class="list">
                    
                     <a href="list.html">顶级酒店内幕被曝光</a><i class="heat-icon"></i>
            
                  </li>
                  <li class="list">
                    
                     <a href="list.html">王思聪抽奖</a><i class="heat-icon"></i>
            
                  </li>
                  <li class="list">
                    
                     <a href="list.html">王者荣耀上官婉儿</a>
            
                  </li>
                  <li class="list">
                    
                     <a href="list.html">妻子的浪漫旅行</a>
            
                  </li>
                  <li class="list">
                    
                     <a href="list.html">海底捞回应员工偷拍</a>
            
                  </li>
                  <li class="list">
                    
                     <a href="list.html">扎克伯格禁止高管用iPhone</a>
            
                  </li>
                  <li class="list">
                    
                     <a href="list.html">王思聪抽手机壳送手机</a>
            
                  </li>
                  <li class="list">
                    
                     <a href="list.html">每天闹钟20次提醒男友抽奖 </a>
            
                  </li>
                  <li class="list">
                    
                      <a href=list.html#">詹姆斯收藏比赛用球</a>
            
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- content-laytpl -->
  <script id="demo" type="text/html">
  {{#  layui.each(d.itemCont, function(index, item){ }}
    <div class="item">
      {{# if(item.img){ }}
      <a href="details.html">
        <img src="{{item.img}}">
      </a>
      {{#  } }}  

      <div class="item-info">
        <h4><a href="details.html">{{item.title}}</a></h4>
        <div class="b-txt">
          <span class="label">{{item.label}}</span>
          <span class="icon message">
            <i class="layui-icon layui-icon-dialogue"></i>
            {{item.message}}
          </span>
          <span class="icon time">
            <i class="layui-icon layui-icon-log"></i>
            {{item.time}}
          </span>
        </div>
      </div>
    </div>
  {{#  }); }}
  </script>
  <!-- end-content-laytpl-->



  <div class="micronews-footer-wrap">
    <div class="micronews-footer w1000">
      <div class="ft-nav">
        <a href="#">关于我们</a>
        <a href="#">合作伙伴</a>
        <a href="#">广告服务</a>
        <a href="#">常见问题</a>
      </div>
      <div class="Copyright">
        <span>Copyright&nbsp;</span>&nbsp;&copy;<span>新闻网&nbsp;&nbsp;</span><span>赣ICP备12345678号</span>
      </div>
      <div class="f-icon">
        <a href="#" class="w-icon">
          <img th:src="@{/layuiadmin/myfile/images/wechat_ic.png}">
        </a>
        <a href="#" class="wb-icon">
          <img th:src="@{/layuiadmin/myfile/images/qq_ic.png}">
        </a>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:src="@{/layuiadmin/layui/layui.js}"></script>

  <script>
    layui.config({
      base: '/layuiadmin/myfile/'
    }).use('index',function(){
      var index = layui.index;
      index.banner()
      index.seachBtn()
      index.arrowutil()
    });
  </script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</body>
</html>