<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>微新闻</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
</head>
<body class="micronews">
  <div class="micronews-header-wrap">
    <div class="micronews-header w1000 layui-clear">
      <h1 class="logo">
        <a href="index.html">
          <img src="../res/static/images/LOGO.png" alt="logo">
          <span class="layui-hide">LOGO</span>
        </a>
      </h1>
      <p class="nav">
        <a href="index.html">最新</a>
        <a href="list.html"  class="active">娱乐</a>
        <a href="list.html">生活</a>
        <a href="list.html">财经</a>
        <a href="list.html">科技</a>
        <a href="list.html">军事</a>
      </p>
      <div class="search-bar">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="title"  placeholder="搜索你要的内容" autocomplete="off" class="layui-input">
              <button class="layui-btn search-btn"  formnovalidate><i class="layui-icon layui-icon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="login">
        <a href="login.html">  
          登录
        </a>
       <!-- <a href="login.html"> -->
        <!-- <img src="../res/static/images/header.png" style="width: 36px; height: 36px;"> -->
       <!-- </a> -->
      </div>
      <div class="menu-icon">
        <i class="layui-icon layui-icon-more-vertical"></i>
      </div>
      <div class="mobile-nav">
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">最新</a></li>
          <li class="layui-nav-item  layui-this"><a href="list.html">娱乐</a></li>
          <li class="layui-nav-item"><a href="list.html">生活</a></li>
          <li class="layui-nav-item"><a href="list.html">财经</a></li>
          <li class="layui-nav-item"><a href="list.html">科技</a></li>
          <li class="layui-nav-item"><a href="list.html">军事</a></li>
        </ul>
      </div>  
    </div>
  </div>


  <div class="micronews-persInfo-wrap">
    <div class="micronews-container micronews-details-container micronews-persInfo-content w1000">
      <div class="layui-fluid">
        <div class="layui-row">
          <div class="layui-col-xs12 layui-col-sm12 layui-col-md3">
            <div class="popular-info">
              <div class="layui-card">
                <div class="layui-card-header">
                  <a href="#"><img src="../res/static/images/header.png"></a>
                  <p class="name">喵小咪</p>
                </div>
                <div class="layui-card-body">
                  <ul class="tab" id="tabHeader"  lay-filter="myInfo">
                    <li lay-id="pl">我的评论</li>
                    <li lay-id="sc">我的收藏</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-xs12 layui-col-sm12 layui-col-md9">
            <div class="main">
              <div class="leave-message" id="tabBody">
                <!-- 我的评论 -->
                <div class="content-box">
                  <div class="ulCommentList">
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                      <a href="#"><img src="../res/static/images/header.png"></a>
                      <div class="item-cont">
                        <div class="cont">
                          <p><span class="name">我是锦鲤</span><span class="time">1小时前</span></p>
                          <p class="text">万达似乎在重新考虑该事项。此外，万达已经为这个项目支付高达8000万美元的费用和税款，但项目却迟迟未开工。</p>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                      <a href="#"><img src="../res/static/images/header.png"></a>
                      <div class="item-cont">
                        <div class="cont">
                          <p><span class="name">我是锦鲤</span><span class="time">1小时前</span></p>
                          <p class="text">万达似乎在重新考虑该事项。此外，万达已经为这个项目支付高达8000万美元的费用和税款，但项目却迟迟未开工。</p>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                      <a href="#"><img src="../res/static/images/header.png"></a>
                      <div class="item-cont">
                        <div class="cont">
                          <p><span class="name">我是锦鲤</span><span class="time">1小时前</span></p>
                          <p class="text">万达似乎在重新考虑该事项。此外，万达已经为这个项目支付高达8000万美元的费用和税款，但项目却迟迟未开工。</p>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                      <a href="#"><img src="../res/static/images/header.png"></a>
                      <div class="item-cont">
                        <div class="cont">
                          <p><span class="name">我是锦鲤</span><span class="time">1小时前</span></p>
                          <p class="text">万达似乎在重新考虑该事项。此外，万达已经为这个项目支付高达8000万美元的费用和税款，但项目却迟迟未开工。</p>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                      <a href="#"><img src="../res/static/images/header.png"></a>
                      <div class="item-cont">
                        <div class="cont">
                          <p><span class="name">我是锦鲤</span><span class="time">1小时前</span></p>
                          <p class="text">万达似乎在重新考虑该事项。此外，万达已经为这个项目支付高达8000万美元的费用和税款，但项目却迟迟未开工。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="micronews-details-test" style="text-align: center;"></div>
                </div>
                <!-- 结束-我的评论 -->

                <!-- 我的收藏 -->
                <div class="content-box">
                  <div class="ulCommentList">
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="liCont">
                      <div class="item">
                        <div class="item-info">
                          <h4><a href="details.html">想要头发好只要不洗头？ 英国女子留1.83米长发自爆近20年没洗过</a></h4>
                          <div class="b-txt">
                            <span class="label">娱乐</span>
                            <span class="icon message">
                              <i class="layui-icon layui-icon-dialogue"></i>
                              500条
                            </span>
                            <span class="icon time">
                              <i class="layui-icon layui-icon-log"></i>
                             2018.08.28
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="micronews-details-test1" style="text-align: center;"></div>
                </div>
                <!-- 结束-我的收藏 -->
              </div>
            </div>
          </div>

        
          
        </div>
      </div>
    </div>
  </div>
    



  <div class="micronews-footer-wrap">
    <div class="micronews-footer w1000">
      <div class="ft-nav">
        <a href="#">关于我们</a>
        <a href="#">合作伙伴</a>
        <a href="#">广告服务</a>
        <a href="#">常见问题</a>
      </div>
      <div class="Copyright">
        <span>Copyright&nbsp;</span>&nbsp;&copy;<span>新闻网&nbsp;&nbsp;</span><span>赣ICP备12345678号</span>
      </div>
      <div class="f-icon">
        <a href="#" class="w-icon">
          <img src="../res/static/images/wechat_ic.png">
        </a>
        <a href="#" class="wb-icon">
          <img src="../res/static/images/qq_ic.png">
        </a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../res/layui/layui.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script>
    layui.config({
      base: '../res/static/js/' 
    }).use(['index','element'],function(){
      var index = layui.index,$ = layui.$,element = layui.element;
      index.Page('micronews-details-test',50)
      index.Page('micronews-details-test1',50)
      index.arrowutil()
      var collOff = true;
      $('.Collection').on('click',function(){
        if(collOff){
          $(this).addClass('active')
        }else{
          $(this).removeClass('active')
        }
        collOff = !collOff
      })
      
        
    
      index.seachBtn()
      element.tab({
        headerElem: '#tabHeader>li' //指定tab头元素项
        ,bodyElem: '#tabBody>.content-box' //指定tab主体元素项
      });   
      var layid = location.hash.replace(/^#myInfo=/, '');
      element.tabChange('myInfo', layid);
      
      //监听Tab切换，以改变地址hash值
      element.on('tab(myInfo)', function(){
        location.hash = 'myInfo='+ this.getAttribute('lay-id');
      });
   
      var url = window.location.hash;
      var loc = url && url.substring(url.lastIndexOf('=')+1, url.length) || false;
      if(loc){           
        $("[lay-id="+loc+"]").trigger("click") 
      }else{
        $("[lay-id=pl]").trigger("click") 
      }
    });
  </script>
</body>
</html>