<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>微新闻</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
</head>
<body class="micronews">
  <div class="micronews-header-wrap">
    <div class="micronews-header w1000 layui-clear">
      <h1 class="logo">
        <a href="index.html">
          <img src="../res/static/images/LOGO.png" alt="logo">
          <span class="layui-hide">LOGO</span>
        </a>
      </h1>
      <p class="nav">
        <a href="index.html" class="active">最新</a>
        <a href="list.html">娱乐</a>
        <a href="list.html">生活</a>
        <a href="list.html">财经</a>
        <a href="list.html">科技</a>
        <a href="list.html">军事</a>
      </p>
      <div class="search-bar">
        <form class="layui-form" action="">
          <div class="layui-form-item">
            <div class="layui-input-block">
              <input type="text" name="title"  placeholder="搜索你要的内容" autocomplete="off" class="layui-input">
              <button class="layui-btn search-btn"  formnovalidate><i class="layui-icon layui-icon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="login">
        <a href="login.html">  
          登录
        </a>
       <!-- <a href="login.html"> -->
        <!-- <img src="../res/static/images/header.png" style="width: 36px; height: 36px;"> -->
       <!-- </a> -->
      </div>
      <div class="menu-icon">
        <i class="layui-icon layui-icon-more-vertical"></i>
      </div>
      <div class="mobile-nav">
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item layui-this"><a href="index.html">最新</a></li>
          <li class="layui-nav-item"><a href="list.html">娱乐</a></li>
          <li class="layui-nav-item"><a href="list.html">生活</a></li>
          <li class="layui-nav-item"><a href="list.html">财经</a></li>
          <li class="layui-nav-item"><a href="list.html">科技</a></li>
          <li class="layui-nav-item"><a href="list.html">军事</a></li>
        </ul>
      </div>  
    </div>
  </div>

  <div class="micronews-container micronews-search-container w1000">
    <div class="layui-fluid">
      <p class="num">为您找到相关结果为<span> &nbsp;1770000&nbsp; </span>个</p>
      <div class="item-list">
        <div class="item">
          <h4><a href="details.html">AI人才抢夺"生猛":应届博士年薪涨到80万元 </a><span class="time">3小时前</span></h4>
          <p>人工智能(AI)人才薪水之高、涨幅之大,颇有令人瞠目结舌之感。 一年前,针对AI领域的应届毕业生,硕士生约莫能拿到30万元的年薪,博士生则高达50万元。有企业给应届生的薪水拔高了10%~20%；也有企业上涨幅度更大，尤其是给博士生的薪水从去年的50万元年薪倏地蹿到80万元；也有准备布局AI领域的新锐企业</p>
        </div>
        <div class="item">
          <h4><a href="details.html">AI人才抢夺"生猛":应届博士年薪涨到80万元</a> <span class="time">3小时前</span></h4>
          <p>人工智能(AI)人才薪水之高、涨幅之大,颇有令人瞠目结舌之感。 一年前,针对AI领域的应届毕业生,硕士生约莫能拿到30万元的年薪,博士生则高达50万元。有企业给应届生的薪水拔高了10%~20%；也有企业上涨幅度更大，尤其是给博士生的薪水从去年的50万元年薪倏地蹿到80万元；也有准备布局AI领域的新锐企业</p>
        </div>
        <div class="item">
          <h4><a href="details.html">AI人才抢夺"生猛":应届博士年薪涨到80万元</a> <span class="time">3小时前</span></h4>
          <p>人工智能(AI)人才薪水之高、涨幅之大,颇有令人瞠目结舌之感。 一年前,针对AI领域的应届毕业生,硕士生约莫能拿到30万元的年薪,博士生则高达50万元。有企业给应届生的薪水拔高了10%~20%；也有企业上涨幅度更大，尤其是给博士生的薪水从去年的50万元年薪倏地蹿到80万元；也有准备布局AI领域的新锐企业</p>
        </div>
        <div class="item">
          <h4><a href="details.html">AI人才抢夺"生猛":应届博士年薪涨到80万元</a> <span class="time">3小时前</span></h4>
          <p>人工智能(AI)人才薪水之高、涨幅之大,颇有令人瞠目结舌之感。 一年前,针对AI领域的应届毕业生,硕士生约莫能拿到30万元的年薪,博士生则高达50万元。有企业给应届生的薪水拔高了10%~20%；也有企业上涨幅度更大，尤其是给博士生的薪水从去年的50万元年薪倏地蹿到80万元；也有准备布局AI领域的新锐企业</p>
        </div>
        <div class="item">
          <h4><a href="details.html">AI人才抢夺"生猛":应届博士年薪涨到80万元 </a> <span class="time">3小时前</span></h4>
          <p>人工智能(AI)人才薪水之高、涨幅之大,颇有令人瞠目结舌之感。 一年前,针对AI领域的应届毕业生,硕士生约莫能拿到30万元的年薪,博士生则高达50万元。有企业给应届生的薪水拔高了10%~20%；也有企业上涨幅度更大，尤其是给博士生的薪水从去年的50万元年薪倏地蹿到80万元；也有准备布局AI领域的新锐企业</p>
        </div>
        <div class="item">
          <h4><a href="details.html">AI人才抢夺"生猛":应届博士年薪涨到80万元 </a> <span class="time">3小时前</span></h4>
          <p>人工智能(AI)人才薪水之高、涨幅之大,颇有令人瞠目结舌之感。 一年前,针对AI领域的应届毕业生,硕士生约莫能拿到30万元的年薪,博士生则高达50万元。有企业给应届生的薪水拔高了10%~20%；也有企业上涨幅度更大，尤其是给博士生的薪水从去年的50万元年薪倏地蹿到80万元；也有准备布局AI领域的新锐企业</p>
        </div>
      </div>
      <div id="micronews-search-test" style="text-align: center; padding:30px 0"></div>
    </div>
  </div>
  




  <div class="micronews-footer-wrap">
    <div class="micronews-footer w1000">
      <div class="ft-nav">
        <a href="#">关于我们</a>
        <a href="#">合作伙伴</a>
        <a href="#">广告服务</a>
        <a href="#">常见问题</a>
      </div>
      <div class="Copyright">
        <span>Copyright&nbsp;</span>&nbsp;&copy;<span>新闻网&nbsp;&nbsp;</span><span>赣ICP备12345678号</span>
      </div>
      <div class="f-icon">
        <a href="#" class="w-icon">
          <img src="../res/static/images/wechat_ic.png">
        </a>
        <a href="#" class="wb-icon">
          <img src="../res/static/images/qq_ic.png">
        </a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="../res/layui/layui.js"></script>
  <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script>
    layui.config({
      base: '../res/static/js/' 
    }).use('index',function(){
      var index = layui.index;
      index.Page('micronews-search-test',50)
      index.omitted('.item p',150)
      index.seachBtn()
      index.arrowutil()
    });
  </script>
</body>
</html>