<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waner.primary.web.mapper.TravelQuestionMapper">
    <resultMap id="BaseResultMap" type="com.waner.primary.web.entity.TravelQuestion">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="del_flag" property="delFlag" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.waner.primary.web.entity.TravelQuestion" extends="BaseResultMap">
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, sys_user_id, title, create_time, del_flag
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from travel_question
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from travel_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insertTravelQuetionMapper" parameterType="com.waner.primary.web.entity.TravelQuestion">
    insert into travel_question (id, sys_user_id, title, 
      create_time, del_flag, content
      )
    values (#{id,jdbcType=INTEGER}, #{sysUserId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.waner.primary.web.entity.TravelQuestion">
        insert into travel_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sysUserId != null">
                sys_user_id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sysUserId != null">
                #{sysUserId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.waner.primary.web.entity.TravelQuestion">
        update travel_question
        <set>
            <if test="sysUserId != null">
                sys_user_id = #{sysUserId,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.waner.primary.web.entity.TravelQuestion">
    update travel_question
    set sys_user_id = #{sysUserId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.waner.primary.web.entity.TravelQuestion">
    update travel_question
    set sys_user_id = #{sysUserId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="queryAllQuestions" resultType="com.waner.primary.web.vo.QuestionWithUser">
        select question.*, user.nickname, user.img_url
            from travel_question question
                inner join travel_user user on user.sys_user_id = question.sys_user_id
                    order by question.create_time desc
    </select>
    <select id="selectQuestionWithUser" resultType="com.waner.primary.web.vo.QuestionWithUser">
        select question.*,user.nickname,user.img_url
            from travel_question question inner join travel_user user on question.sys_user_id = user.sys_user_id
                where question.id = #{id}
    </select>
</mapper>